:root{
    --font: 'Product-sans', 'sans-serif';
    --background-body: '#f9f8f8';

    --color-sistemas-dgconta: '#A19E9E';
    --bg-hover-links-menu-hamburguer: 'chocolate';

    --bg-btn-establecimiento: '#560F56';
    --bg-btn-nueva-razon: '#562086';

    --bg-mostrar-inspecciones: '#E4E1E1';
}

