:root{
    --font: 'Product-sans', 'sans-serif';
    --background-body: '#f9f8f8';

    --color-sistemas-dgconta: '#A19E9E';
    --bg-hover-links-menu-hamburguer: 'chocolate';

    --bg-btn-establecimiento: '#560F56';
    --bg-btn-nueva-razon: '#562086';

    --bg-mostrar-inspecciones: '#E4E1E1';
}

@import url('./variables_globales.css');
@font-face {
    font-family: 'Product-sans';
    src: url('../font/product-sans/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #FFFFFF;
    font-family: 'Product-sans', 'sans-serif';
}

*{
    color: #4e4d50;
    font-size: 17px;
}

input, select{
    border-radius: 5px;
    height: 40px;
    border: 1px solid #26252565;
    font-size: 18px;
}

input{
    padding-left: 10px;
}

label{
    font-size: 18px;
    font-weight: bold;
    color: #77777a;
}

.btn-guardar{
    border: 2px solid seagreen;
    color: seagreen;
    font-weight: bold;
}

.btn-guardar:hover{
    background-color: seagreen;
    color: #ffffff;
    font-weight: lighter;
}

.page-link{
    color: #38485C!important;
    border: 1px solid #38485c78!important;
}

.page-link:hover{
    background-color:#38485C;
    color: #ffffff!important;
    cursor: pointer;
}

.btn-green{    
    background-color: rgb(13, 139, 68)!important;
}

.btn-green:hover{
    background-color: rgb(3, 165, 73)!important;
}

.btn-blue{    
    background-color: rgb(44, 143, 243)!important;
}

.btn-blue:hover{
    background-color: rgb(72, 159, 247)!important;
}

.btn-red{    
    background-color: rgb(196, 26, 26)!important;
    color: #FFFFFF;
}

.btn-red:hover{
    background-color: rgb(249, 48, 48)!important;
}

.btn-grey{
    background-color: #fcfcfd;
    border: 1px solid transparent;
}

.btn-grey:hover{
    background-color: #e1e1e4;
    border: 1px solid gray;
}

.btn-buscar-border{
    border: 2px solid rgb(44, 143, 243);
    color: rgb(44, 143, 243);
    font-weight: bold;
}

.btn-buscar-border:hover{
    background-color: rgb(44, 143, 243);
    color: #FFFFFF;
    font-weight: lighter;
}

.btn-ver-usuario{
    background-color: #e1e1e4;
    border: 1px solid gray;
}

.btn-ver-usuario:hover{
    font-weight: bold;
}